doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        title Authoritative Network
    body
        h1 Authoritative Network
        p Информация будет опубликована позднее
        a(href='./consensus.pdf') Статья "Консенсус - ложь"